<div class="card-container ">
    <div class="grid-item">
      <img
        src="https://img.freepik.com/free-photo/beautiful-scenery-rock-formations-by-sea-queens-bath-kauai-hawaii-sunset_181624-36857.jpg?size=626&ext=jpg&ga=GA1.2.398631008.1686460560&semt=sph"
        alt=""/>
      <h1 class="card-item-title">Magazine Wordpress Theme</h1>
      <h5 class="card-subtitle">January 22, 2010 / Something / Something</h5>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sapiente?
        </p>
        <button class="card-btn">READ MORE</button>
    </div>
    <div class="grid-item">
      <img
        src="https://img.freepik.com/free-photo/beautiful-shot-tree-savanna-plains-with-blue-sky_181624-21992.jpg?size=626&ext=jpg&ga=GA1.2.398631008.1686460560&semt=sph"
        alt=""/>
      <h1 class="card-item-title">Magazine Wordpress Theme</h1>
      <h5 class="card-subtitle">January 22, 2010 / Something / Something</h5>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sapiente?
        </p>
        <button class="card-btn">READ MORE</button>
    </div>
    <div class="grid-item">
      <img
        src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?size=626&ext=jpg&ga=GA1.2.398631008.1686460560&semt=sph"
        alt=""/>
      <h1 class="card-item-title">Magazine Wordpress Theme</h1>
      <h5 class="card-subtitle">January 22, 2010 / Something / Something</h5>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sapiente?
        </p>
        <button class="card-btn">READ MORE</button>
    </div>
    <div class="grid-item">
      <img
        src="https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?size=626&ext=jpg&ga=GA1.2.398631008.1686460560&semt=sph"
        alt=""/>
      <h1 class="card-item-title">Magazine Wordpress Theme</h1>
      <h5 class="card-subtitle">January 22, 2010 / Something / Something</h5>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sapiente?
        </p>
        <button class="card-btn">READ MORE</button>
    </div>
    <div class="grid-item">
      <img
        src="https://img.freepik.com/free-photo/beautiful-scenery-rock-formations-by-sea-queens-bath-kauai-hawaii-sunset_181624-36857.jpg?size=626&ext=jpg&ga=GA1.2.398631008.1686460560&semt=sph"
        alt=""/>
      <h1 class="card-item-title">Magazine Wordpress Theme</h1>
      <h5 class="card-subtitle">January 22, 2010 / Something / Something</h5>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sapiente?
        </p>
        <button class="card-btn">READ MORE</button>
    </div>

  </div>