.perent-nav {
    background-color: #17263d;
}

.navbar {
    padding: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    font-weight: 600;
}

.nav-lists {
    display: flex;
}

.nav-list {
    list-style: none;
    margin-right: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rebeccapurple;
    background-color: #f9f9f9;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: rebeccapurple;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul a {
    text-decoration: none;
    color: white;
}
.nav-title {

    font-size: x-large;
    text-decoration: none;
    color: whitesmoke;
}