<div class="perent-nav">
    <nav class="navbar">
      <div class="nav-title">
        <i class="fa-solid fa-border-all gridbox"></i>
        <a href="title" class="nav-title">GRIDBOX</a>
      </div>
      <div>
        <ul class="nav-lists">
          <li class="nav-list"><a href="">Home</a></li>
          <li class="nav-list"><a href="">Magazine</a></li>
          <li class="nav-list dropdown">
            <a href="">Dropdown <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>
          <li class="nav-list dropdown">
            <a href="">Content Styles <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </li>

          <li class="nav-list"><a href="">Full Width</a></li>

        </ul>
      </div>
    </nav>
  </div>